.cart-container {
  display: grid;
  width: 800px;
  grid-template-columns: repeat(3, 1fr);
  /* grid-template-columns: 20% 20%; */
  /* grid-template: auto; */
  text-align: center;
  gap: 10px;
  margin-top: 50px;
  margin: 10px;
}

.display-container {
  background-color: #2d2d2d;
  color: #ffffff;
  flex-direction: column;
  border-radius: 18px;
  border: 2px solid salmon;
}

.text-alignment {
  padding: 0px 20px 20px 20px;
}

.cart-image {
  width: 100%;
  height: 300px;
  border-radius: 18px 18px 0 0;
}

.product-name {
  font-family: "Courier New", Courier, monospace;
  font-size: medium;
}

.remove-btn {
  right: 1rem;
  top: 1rem;
  font-size: large;
  /* width: 90px;
  height: 31px;
  border-radius: 20px;
  color: #2d2d2d;
  background-color: red; */
  background-color: transparent;
  color: #ff0000;
  border: none;
  /* opacity: 0.5; */
  /* border: 2px solid black; */
}

.remove-btn:hover {
  cursor: pointer;
  /* border-radius: 20px; */
  /* color: black; */
  /* background-color: red; */
  /* opacity: 1; */
  /* border: 2px solid black; */
}

.quantity {
  color: #ffffff;
  /* position: absolute;*/
  /* right: 40rem;  */
}

.order-btn {
  position: absolute;
  background-color: #c1da35;
  color: #2d2d2d;
  border-radius: 18px;
  width: 80px;
  height: 37px;
  opacity: 0.8;
  /* right: 15rem;
  top: 13rem; */
  /* right: 0; */
  /* margin: 130px; */
  border: none;
  font-size: medium;
  border: 2px solid #2d2d2d;
  font-family: "Luckiest Guy", cursive;
  /* top: 96rem; */
  /* top: 10rem; */
}

.order-btn:hover {
  background-color: #c1da35;
  color: black;
  opacity: 1;
  cursor: pointer;
}

.order-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  /* align-content: center; */
  /* justify-content: center; */
  /* justify-items: center; */

  /*align-items: end;
  justify-content: end; */
  /* margin: 30px; */
}

.quantity-style {
  margin-left: 40px;
}

.reduce-btn {
  color: black;
  background-color: transparent;
  border: none;
  color: #ff0000;
}

.increment-btn {
  color: black;
  background-color: transparent;
  border: none;
  /* margin-left: 40px; */
  color: greenyellow;
}

.reduce-btn:hover {
  cursor: pointer;
}

.increment-btn:hover {
  cursor: pointer;
}
