.footer-container {
  background-color: #2d2d2d;
  width: 100%;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  position: relative;
  bottom: 0;
  height: 90px;
}

.justify-links {
  justify-content: center;
  align-items: center;
  display: flex;
}

.flex-container {
  display: flex;
  align-items: center;  
}

ul {
  list-style: none;
}

.links-style {
  margin: 10px;
}

li:hover {
  opacity: 0.5;
  cursor: pointer;
}

#facebook {
  color: blue;
}

#instagram {
  color: #ffa07a;
}

#twitter {
  color: lightskyblue;
}
