@import url("https://fonts.googleapis.com/css2?family=Bangers&family=Cherry+Bomb+One&family=Luckiest+Guy&family=Salsa&display=swap");
body {
  background-color: #fffff0;
}

#main-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
